@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Inter', sans-serif;
}

.sidebar-container {
    background-color: #F5F8FF;
}

.primary-blue {
    color: #3894FF;
}

.transition {
    transition: 0.25s;
}

.transition:hover {
    margin-left: 1rem;
    background-color: #D3E7FF;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.message-row{
    color: white;
    background-color: #3894FF;
    padding: 1rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem; 
}
.message-row.is-bot {
    background-color: #F5F8FF;
    color: #000000B2;
}

.message-button {
    background-color: #3894FF;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    transition: 0.25s;
}

.message-button:hover {
    background-color: #005CC7;
    box-shadow: 3px 2px 23px rgba(0, 50, 108, 0.1);
}

.send-icon {
    font-size: 1.7rem;
    color:white;
}

input {
    border: 1px solid #3894FF;
    border-radius: 1rem;
    padding: 1rem !important;
    box-shadow: 3px 2px 23px rgba(0, 50, 108, 0.1);
}

input:focus {
    border: 2px solid #3894FF !important;
}
.chat-messages {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    scrollbar-color: #999 #333;
}

.chat-messages::-webkit-scrollbar {
  width: 6px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
  margin-left:1px;
}
.chat-messages::-webkit-scrollbar-thumb { /* Foreground */
    background: lightgrey;
    
}
.chat-messages::-webkit-scrollbar-track { /* Background */
    background: transparent;
}